In [4]:
print("hell python")

hell python

In [5]:
a = [1,2,3]
b = a
c = [1,2,3]

print(a == b)

True

In [6]:
print( a is c)

False

In [7]:
5//2

2

In [8]:
5/2

2.5

In [9]:
status = 404
match status :
  case 200:
    print("OK")
  case 404:
    print("Not Found")
  case _:
    print("Unknown status")

Not Found

In [10]:
a = {1,2,3}
b = {3,4,5}

print(a|b)
print(a&b)

{1, 2, 3, 4, 5}
{3}

In [11]:
stu = {"name" : '태형', "age":2,"major":"컴공"}

stu["name"]
stu["age"]
stu["major"]

'컴공'

In [12]:
stu["name"]= "현준"
stu

{'name': '현준', 'age': 2, 'major': '컴공'}

In [13]:
for k in stu :
  print(k, stu[k])

name 현준
age 2
major 컴공

In [14]:
orig = [[1,2],[3,4]]
copied = orig.copy() # 얕은복사임
copied[0][0] = 99
print(orig is copied)
print(id(orig), id(copied))

False
4400574912 4400573760

In [15]:
import copy

orig2 = [[1,2],[3,4]]
deep_copied = copy.deepcopy(orig2)
deep_copied

print(orig2 is deep_copied)
print(id(orig2), id(deep_copied))

False
4400576768 4400575424

In [16]:
a = [1,2,3]
b = a
print(a==b)
print ( a is b)
print(id(a), id(b))
a[2] = 99
print(a)
print(b)

True
True
4400577856 4400577856
[1, 2, 99]
[1, 2, 99]

In [17]:
import copy
c = [1,2,3]
d = copy.deepcopy(c)
print(c == d)
print(c is d)
print(id(c), id(d))

True
False
4400573824 4400562816

In [18]:
t = [[1,2],[3,4]]
p = t
print(t == p)
print(t is p)
print(id(t), id(p))
p[0][0] = 99

print(t)
print(p)

True
True
4400584576 4400584576
[[99, 2], [3, 4]]
[[99, 2], [3, 4]]

In [19]:
import copy
p = [[1,2],[3,4]]
q = copy.deepcopy(p)
print(p == q)
print(p is q)
print(id(c), id(d))
p[0][0] = 99

print(p,q)

True
False
4400573824 4400562816
[[99, 2], [3, 4]] [[1, 2], [3, 4]]

In [20]:
def total_sum(*args) :
  return sum(args)

total_sum(1,2,3,4,5)

15

In [21]:
with open("example.txt", "w", encoding='utf-8') as f :
  f.write("Python 파일입출력테스트\n")

In [22]:
with open("example2.txt", "w",encoding='utf-8') as f2 :
  f2.write("hi 내이름은 손현준")

In [23]:
with open("example.txt","r", encoding='utf-8') as f3 :
  content = f3.read()
  print(content)

Python 파일입출력테스트

In [24]:
import json

data = {"name": "Alice", "age": 25}

with open("data.json" ,"w") as f :
  json.dump(data, f)

In [25]:
with open("data.json" ,"r") as f :
  loaded = json.load(f)
  print(loaded)

{'name': 'Alice', 'age': 25}

In [26]:
class Student :
  def __init__(self, name):
    self.name = name
    self.scores = []
    
  def add_score(self,score) :
    self.scores.append(score)
  
  def average(self):
    return sum(self.scores)/ len(self.scores)
  
s = Student("지민")
s.add_score(90)
s.add_score(80)
print(f"{s.name}의 평균점수는 {s.average()}점 입니다.")

지민의 평균점수는 85.0점 입니다.

In [27]:
class Student :
  count = 0
  
  def __init__(self,name) :
    self.name = name
    Student.count += 1
  
  def show(self) :
    print(f"{self.name} 학생입니다.")
    

s1 = Student("민지")
s2 = Student("지후")

print("총 학생 수:", Student.count)

총 학생 수: 2

In [28]:
class Animal:
  def __init__(self, name):
    self.name = name
    
  def speak(self) :
    print("...소리를 낸다.")
    

class Dog(Animal) :
  def speak(self):
    print(f"{self.name}이 멍멍 짓는다.")
    
class Cat(Animal) :
  def speak(self):
    print(f"{self.name}이 야옹 울다")
    

d = Dog("바둑이")
c = Cat("나비")

d.speak()
c.speak()

바둑이이 멍멍 짓는다.
나비이 야옹 울다

In [29]:
class BankAccount:
  def __init__(self,owner,balance) :
    self.owner = owner
    self._balance = balance
    
  def deposit(self, amount):
    self._balance += amount
    
  def withdraw(self, amount):
    if amount <= self._balance :
      self._balance -= amount
      
    else:
      print("잔액부족")
      
  def get_balance(self):
    return self._balance

acc = BankAccount("수지", 10000)
acc.deposit(3000)
print("잔액:", acc.get_balance())
acc.withdraw(15000)

잔액: 13000
잔액부족

In [30]:
try :
  num = int(input("숫자를 입력하세요:"))
  result = 10/ num
except ValueError:
  print("숫자가 아닙니다.")
except ZeroDivisionError :
  print("0으로 나눌수 없습니다.")
else :
  print(f"결과:{result}")
  
finally:
  print("연산이 완료되었습니다.")

숫자가 아닙니다.
연산이 완료되었습니다.

In [31]:
import random

dice = random.randint(1,6)

dice

1

In [32]:
import datetime

today = datetime.date.today()
print("오늘날짜:", today)

오늘날짜: 2025-09-24

In [ ]:
from flask import Flask

app = Flask(__name__)

@app.route("/")
def hello():
    html_out = """
      <html>
        <head>
          <title>Flask Example</title>
        </head>
        <body>
          <h1>Hello, Flask world!</h1>
          <p>This is a simple HTML page served by Flask.</p>
        </body>
      </html>
      """
    return html_out

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5000)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://192.168.219.106:5000
Press CTRL+C to quit
127.0.0.1 - - [24/Sep/2025 20:27:06] "GET / HTTP/1.1" 200 -

In [6]:
import psycopg2
from datetime import datetime

db_config = {
  'host': '168.107.31.137',
  'port': 5432,
  'database': 'postgres',
  'user': 'postgres',
  'password':'dbtest1212'
}

try:
  # DB 연결
  conn = psycopg2.connect(**db_config)
  cursor = conn.cursor()
  
  cursor.execute(
  """CREATE TABLE IF NOT EXISTS mytest(
      id serial primary key,
      title varchar,
      doc_body varchar,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  )
  """
  )
  conn.commit()
  
  # insert database
  sample_data = [
    ("첫 번째 제목", "이것은 첫 번째 문서의 본문 내용입니다."),
    ("두 번째 제목", "Python으로 PostgresSQL을 작성하는 예제입니다."),
    ("세 번째 제목", "데이터베이스 프로그레밍 예제")
  ]
  
  insert_query = """
    INSERT INTO mytest (title, doc_body)
    VALUES (%s, %s)
    RETURNING id;
  """
  
  inserted_ids = []
  
  for title,doc_body in sample_data :
    cursor.execute(insert_query,(title, doc_body))
    inserted_id = cursor.fetchone()[0]
    inserted_ids.append(inserted_id)
    print("inserted data id:", inserted_id)
  conn.commit()
  
  #최근 10개 데이터 조회
  
  cursor.execute("""
                  select id,title,doc_body,created_at from mytest order by id desc limit 10
                  """
  )
  rows = cursor.fetchall()
  print("최근 10개 데이터")
  for row in rows:
    print(row)
    
except Exception as e :
  print("Error", e)
finally :
  if cursor :
    cursor.close()
  if conn:
    conn.close()

inserted data id: 1
inserted data id: 2
inserted data id: 3
최근 10개 데이터
(3, '세 번째 제목', '데이터베이스 프로그레밍 예제', datetime.datetime(2025, 9, 24, 22, 41, 53, 819134))
(2, '두 번째 제목', 'Python으로 PostgresSQL을 작성하는 예제입니다.', datetime.datetime(2025, 9, 24, 22, 41, 53, 819134))
(1, '첫 번째 제목', '이것은 첫 번째 문서의 본문 내용입니다.', datetime.datetime(2025, 9, 24, 22, 41, 53, 819134))

In [ ]:
import os
import psycopg2
from flask import Flask, render_template, request, g

app = Flask(__name__)

DB_HOST = "168.107.31.137"
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASS = "dbtest1212"
DB_PORT = 5432

def get_db() :
  if 'db' not in g :
    g.db = psycopg2.connect(
      host=DB_HOST,
      dbname = DB_NAME,
      user= DB_USER,
      password = DB_PASS,
      port = DB_PORT
    )
    return g.db
  
  
@app.teardown_appcontext
def close_db(error) :
  db = g.pop('db',None)
  if db is not None:
    db.close()
      
@app.route("/")
def index():
  
  page = request.args.get('page',1, type=int)
  per_page = 10
  
  try:
    conn = get_db()
    cursor = conn.cursor()
    
    cursor.execute("SELECT COUNT(*) FROM tbl_docu_info")
    total_items = cursor.fetchone()[0]
    total_pages = (total_items + per_page -1) // per_page
    
    offset = (page - 1) * per_page
    
    query = """
      SELECT id, title, doc_body
      FROM tbl_docu_info
      ORDER BY id DESC
      LIMIT %s OFFSET %s; 
    """
    
    cursor.execute(query, (per_page,offset))
    documents = cursor.fetchall()
    
  except psycopg2.Error as e:
    print(f"Database error: {e}")
    documents = []
    total_pages = ()
    
  finally :
    if 'cursor' in locals() :
      cursor.close()
      
  return render_template(
    "index.html",
    documents = documents,
    page = page,
    total_pages = total_pages
  )
    
if __name__ == "__main__" :
  app.run(host = "0.0.0.0", port=5001, debug=False)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5001
 * Running on http://192.168.219.106:5001
Press CTRL+C to quit
127.0.0.1 - - [24/Sep/2025 23:28:04] "GET / HTTP/1.1" 200 -

In [22]:
a = [2,3,4,1,1,1]
for i in list(set(a)) :
  print(i)

1
2
3
4

In [ ]:
from collections import OrderedDict
arr = [2,3,4,1,1,1]

OrderedDict.fromkeys(arr)

OrderedDict([(2, None), (3, None), (4, None), (1, None)])

In [28]:

OrderedDict.fromkeys(arr).keys()

odict_keys([2, 3, 4, 1])

In [32]:
bin(10)

'0b1010'

In [33]:
format(10, 'b')

'1010'

In [36]:
int('1000', 2)

8

In [37]:
f"{10:b}"

'1010'

In [41]:
int.bit_count(10)  # 2 (1010 → 1이 2개)

2

In [43]:
int('10',2) + int('11',2)
format(5,'b')

'101'

In [44]:
".xx...xx.".split("xx")

['.', '...', '.']

In [45]:
"x..x.x..x".split("x")

['', '..', '.', '..', '']

In [46]:
"x...x...x".split("x")

['', '...', '...', '']

In [ ]:
li =   """
  동해물과 백두산이
  마르고 닳도록
  하느님이 보우하사 
  우리나라만세
  """
  
li.splitlines()

['', '  동해물과 백두산이', '  마르고 닳도록', '  하느님이 보우하사 ', '  우리나라만세', '  ']

In [49]:
import re

st = "aaabbbaaaabbbabba"

re.findall(r'(a+)(b+)', st)

[('aaa', 'bbb'), ('aaaa', 'bbb'), ('a', 'bb')]

In [ ]:
import re

rm = re.match(r"(\d+)(\w+)(\d+)", "111aaa111")

[0, 1, 2]

In [ ]:
import re

re.search(r"\d+", "bbbbbbaaaa11111aaaabb")

In [79]:
import re

re.findall(r"\d+", "aaaaa11111bbbb22222cccc3333")

['11111', '22222', '3333']

In [90]:
import re
target = "aaaaa11111bbbb22222cccc3333"
re.split(r"\d+", target, 3)[:-1]

['aaaaa', 'bbbb', 'cccc']

In [100]:
st ="ABCDE"
arr = [1,2,3,3,4,45,6]
st[::-1]
arr[::-1]

[6, 45, 4, 3, 3, 2, 1]

In [ ]:
import re

re.sub(r"\d+","*", "aaaaa11111bbbbbbcccc2222")

'aaaaa*bbbbbbcccc*'

In [ ]:
import re

st ="BbadePdjfeijf"

st = re.sub(r"[BP]", "bp",st)

'bpbadebpdjfeijf'

In [106]:
'www.example.com'.strip('cmowz.')

'example'

In [107]:
comment_string = '#....... Section 3.2.1 Issue #32 .......'
comment_string.strip('.#! ')

'Section 3.2.1 Issue #32'

In [108]:
dict(zip(["may", "kein", "kain", "radi"],[5, 10, 1, 3]))

{'may': 5, 'kein': 10, 'kain': 1, 'radi': 3}